body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: black;
  color: white;
}

.layout {
  display: flex;
}

.products {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}

.cart {
  flex: 1;
  border-left: 1px solid #ddd;
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}